$color-accent: #650cea;
$color-accent-shade: #550ac5;

$color-dark: rgb(22, 22, 22);
$color-dark-light-1: rgb(28, 28, 28);
$color-dark-light-2: rgb(33, 33, 33);

$color-background-shade: rgb(240, 240, 240);
$color-background: rgb(248, 248, 248);
$color-white-shade: rgb(252, 252, 252);
$color-white: rgb(255, 255, 255);

$color-text-light: rgb(81, 81, 81);
$color-text-gray: rgb(178, 178, 178);
$color-text-white: rgb(232, 232, 232);

$shadow-m: 0 2px 4px rgba($color-dark, 0.16);
$shadow-l: 0 3px 6px rgba($color-dark, 0.16);
$shadow-xl: 0 3px 12px rgba($color-dark, 0.16);
